<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlLibro</servlet-name>
        <servlet-class>Controladores.ControlLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlBuscar</servlet-name>
        <servlet-class>Controladores.ControlBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlBorrar</servlet-name>
        <servlet-class>Controladores.ControlBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlActualizar</servlet-name>
        <servlet-class>Controladores.ControlActualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlLibro</servlet-name>
        <url-pattern>/ControlLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlBuscar</servlet-name>
        <url-pattern>/ControlBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlBorrar</servlet-name>
        <url-pattern>/ControlBorrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlActualizar</servlet-name>
        <url-pattern>/ControlActualizar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    
</web-app>
